<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Transaction | Car Rental</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <body>
        <h2>Create Transaction Now!</h2>
        <div class="form-container">
            {% if error %}
                <p style="color:red;">{{ error }}</p>
            {% endif %}
            
            <form action="/create_transaction" method="POST">
                <label for="customer_name">Customer Name:</label>
                <input type="text" name="customer_name" id="customer_name" placeholder="Customer Name">
                <br>
                <label for="start_date">Start Date:</label>
                <input type="datetime" name="start_date" id="start_date" placeholder="Start Date">
                <br>
                <label for="end_date">End Date:</label>
                <input type="datetime" name="end_date" id="end_date" placeholder="End Date">
                <br>
                <input type="submit" value="Add">
            </form>
        <a href="/" class="home-button yellow-button">Back to Homepage</a> <!--style.css-->
        </div>
    </body>
</body>
</html>